/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: calc(100vh - 76px - 56px);
  padding: 1.5rem 0;
}

.goods {
  margin: 0 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 1rem;
}

.icon {
  width: 28px;
  height: 28px;
}

.cart-icon{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 1rem;
  background-color: rgb(56, 56, 56);
}

.cart-list {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 50rem;
  max-height: 75%;
  max-width: 95%;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  animation: show 500ms ease-in-out;
}

.cart-image {
  width: 100px;
  height: 100px;
}

.cart-icon {
  width: 50px;
  height: 50px;
}

.cart-pi-icon {
  width: 25px;
  height: 25px;
}


@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@media (min-width: 767px ) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

@media (min-width: 375px) {
  .card {
    width: 345px !important ; 
  }
}

@media (min-width: 1024px) {
  .goods {
    grid-gap: 0.25rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
} */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400&display=swap');


* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-rows: 4.5rem auto 4.5rem;
  margin: auto 0;
}

.content {
  /* position: relative; */
  /* padding-top: 1.5rem; */
}

.goods {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(21rem, auto));
  margin-bottom: 2rem;
}

/* Preloader */
.preloader-wrapper{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%); 
}
.circle{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
}
@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: #ff0000;
  }
  50%{
    transform: translateY(50px);
    background-color: #000000;
  }
  100%{
    transform: translateY(0px);
    background-color: #ff0000;
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
}
.circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
}